#assign_header {
	background-color: green;
	color: white;
	padding-top: 12px;
	padding-bottom: 12px;
	margin-bottom: 18px;
}

#assign_header h4 {
	margin-bottom: 0px;
}

.caption {
	font-size: 14px;
	color: gray;
	margin-top: 8px;
}

.headline{
	font-family: "lora", serif;
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

img{
	max-width: 100%;
}

body{
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 10px 40px 40px 40px;

}

